/*
--- INSTRUCTIONS ---
This is to be used as the basis for creating the config.json - it is NOT a valid
JSON file as is (comments are not allowed).
To create a valid config.json  file do the following:
	1) Create an empty file named config.json in the working directory.
	2) Set up the fields to the correct values
	streets - list of TSIDs to be read (NB last TSID must not have trailing comma)
	use_vagrant_dirs - set to true if the street/item JSON files are on a PC version of Eleven
					 - set to false if using the QA server/persdata
    server - set up the hostname, port, username and password for server. 
	eleven_path - set to root directory which contains eleven-fixtures and eleven-throwaway-server
	(optional) fixtures_path - set to directory which contains fixtures (overrides default eleven_path/eleven-fixtures)
	(optional) persdata_path - set to directory which contains persdata (overrides default eleven_path/eleven-throwaway-server/persdata)
	street_snap_path - set to path containing all the archive street snaps for these streets (for PC use '\\', Mac use '/' as path separator)
	output_file - set to path/name of file which contain a summary of all the changes made by this tool. (for PC use '\\', Mac use '/' as path separator)
	search_radius - defaulted to 25 pixels. Making the number smaller will speed up the searches, but may miss items which are almost in the right place
	percent_match_criteria - % match for an item to be considered 'found' (as QQs stretch/contract they will need (value - 15)% to count as a match)
	(optional) tracing_level - 0 (no tracing); 1 (maxiumum tracing = default); 2 (important messages); 3 (error messages only)
	write_JSONs_to_persdata - indicates if changed JSON files should be written into the persdata directory or not. Set to false if only want to see tool output.
	change_xy_only - the tool will only change the x,y values in the item files (useful if street has already been QA'd)
	3) Copy and paste everything inside/including braces to new file. There must NOT be a trailing comma
		after the final section.
	4) Using a json validator (there are a number online) may be helpful after editing.
*/
// Copy everything from below this line into your config.json
{
  "streets": [
	{"tsid": "LHV4U509S9B2MRV"},
	{"tsid": "LHVT0JVHRIA2IE9"}
  ],
  "use_vagrant_dirs": true,
  "vagrant_info": {
	"eleven_path": "C:\\Glitch\\eleven"
  },
  "server_info": {
  	"host": "",
	"port": "",
    "username": "",
    "password": "",
	"server_dirs": {
		"eleven_path": ""
	}
  },
  "street_snap_path": "C:\\Glitch\\QA2\\StreetSnapsArchive\\Groddle Forest",
  "output_file": "C:\\Glitch\\QA2\\region.txt",
  "search_radius": 25,
  "percent_match_criteria": 90,
  "tracing_level": 1,
  "write_JSONs_to_persdata": false,
  "change_xy_only": false
} 